@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {
    --bg-clr: #2C3639;
    --font-color: #DCD7C9;
    --correct-clr: #2EB086;
    --present-clr: #FFA732;
    --absent-clr: #3F4E4F;
    --hint-clr: #6895D2;

    --main-font: 'Kanit', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: var(--main-font);
    background-color: var(--bg-clr);
    color: var(--font-color);
}

.main-container {
    padding: 5%;
}

.main-title {
    text-align: center;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative; 
}

#attempts div {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

#attempts div span {
    border-radius: 10%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2.5px;
    margin-left: 2.5px;
}

.box {
    border: var(--absent-clr) solid 1px;
}

.correct { 
    background-color: var(--correct-clr); 
}

.present { 
    background-color: var(--present-clr); 
}

.absent { 
    background-color: var(--absent-clr);
}

.submit-content {
    border-bottom: var(--absent-clr) solid 1px;
    padding: 0.5rem;
    display: flex;
    gap: 5px;
    align-items: center;
}

.submit-input {
    background-color: var(--bg-clr);
    color: var(--font-color);
    outline: none;
    border: none;
    font-size: 1rem;
}

.submit-button {
    background-color: var(--bg-clr);
    color: var(--absent-clr);
    border: none;
    font-size: 1rem;
}

.result-pop-up-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  #result-pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1001;
  }
  
  .result-container {
    padding: 1rem;
    background-color: var(--bg-clr);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: auto;
    max-width: 400px;
}
  
#result-title {
    font-size: 1.3rem;
    font-weight: bold;
}

#result-text {
    font-size: 1rem;
}

.result-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#close-button {
    padding: 0.5rem;
    cursor: pointer;
    background-color: var(--absent-clr);
    border-radius: 5px;
}

#share-button {
    padding: 0.5rem;
    display: none;
    cursor: pointer;
    background-color: var(--hint-clr);
    border-radius: 5px;
}

#hint-pop-up {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    margin: 1rem;
    top: 0;
    left: 0;
    z-index: 1001;
}

#hint-text {
    background-color: var(--hint-clr);
    padding: 1rem 0.5rem;
    border-radius: 5px;
}

.copyright {
    color: var(--absent-clr);
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #attempts div span {
        width: 25px;
        height: 25px;
    }
    
    .copyright {
        font-size: 12px;
    }
}